
<section class="jumbotron text-center">
  <div class="container my-5">
    <div class="card mt-5 bg-dark">
    <div class="card-header">
    <h1 class="jumbotron-heading my-3">PokéTraders</h1>
    <p class="lead">A store for all your Pokémon TCG needs. Here at PokéTraders, we have a variety of cards available to ship within Canada!</p>
    <p>
      <%= link_to 'View Cards', cards_path , class: "btn btn-light my-3"%>
    </p>
    </div>
    </div>
  </div>
</section>