<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted title-pointer" data-toggle="collapse" href="#collapseType">
  <span>Types</span>
</h6>
<ul class="nav flex-column">

  <div class="collapse" id="collapseType">
    <li class="nav-item">
      <%= link_to 'All', types_path, :class => "nav-link active" %>
    </li>

    <% @global_types.each do |type| %>
      <li class="nav-item">
        <%= link_to type.type_name, type, :class => "nav-link active" %>
      </li>
    <% end %>
  </div>
</ul>

<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted title-pointer" data-toggle="collapse" href="#collapseRarity">
  <span>Rarities</span>
  <a class="d-flex align-items-center text-muted" href="#">
    <span data-feather="plus-circle"></span>
  </a>
</h6>
<ul class="nav flex-column mb-2">
  <div class="collapse" id="collapseRarity">
    <li class="nav-item">
      <%= link_to 'All', rarities_path, :class => "nav-link active" %>
    </li>

    <% @global_rarities.each do |rarity| %>
      <li class="nav-item">
        <%= link_to rarity.rarity_name, rarity, :class => "nav-link active" %>
      </li>
    <% end %>
  </div>
</ul>
